{{#partial "title"}}Authority{{/partial}}
{{#partial "header"}}
<style type="text/css">
table.zone_table {
    width: 100%;
    border-spacing: 0;
}
table.zone_table th {
    text-align: left;
}
table.zone_table th,
table.zone_table td {
    padding: 10px;
}
fieldset {
    margin-bottom: 20px;
}
</style>
{{/partial}}
{{#partial "content"}}
<fieldset>
    <legend>Current Zones</legend>

    <table class="zone_table">
        <tr>
            <th>Domain</th>
            <th>Mname</th>
            <th>Rname</th>
            <th>Serial</th>
            <th>Refresh</th>
            <th>Retry</th>
            <th>Expire</th>
            <th>Minimum</th>
        </tr>
        {{#each zones}}
        <tr>
            <td><a href="/authority/{{domain}}">{{domain}}</a></td>
            <td>{{m_name}}</td>
            <td>{{r_name}}</td>
            <td>{{serial}}</td>
            <td>{{refresh}}</td>
            <td>{{retry}}</td>
            <td>{{expire}}</td>
            <td>{{minimum}}</td>
        </tr>
        {{/each}}
    </table>
</fieldset>

<fieldset>
    <legend>New Zone</legend>

    <form method="POST" action="/authority">

        <div>
            <label for="domain">Domain</label>
            <div>
                <input type="text" name="domain" id="domain" />
            </div>
        </div>

        <div>
            <label for="m_name">Mname</label>
            <div>
                <input type="text" name="m_name" id="m_name" />
            </div>
        </div>

        <div>
            <label for="r_name">Rname</label>
            <div>
                <input type="text" name="r_name" id="r_name" />
            </div>
        </div>

        <div>
            <label for="refresh">Refresh</label>
            <div>
                <input type="number" name="refresh" id="refresh" value="300" />
            </div>
        </div>

        <div>
            <label for="retry">Retry</label>
            <div>
                <input type="number" name="retry" id="retry" value="300" />
            </div>
        </div>

        <div>
            <label for="expire">Expire</label>
            <div>
                <input type="number" name="expire" id="expire" value="300" />
            </div>
        </div>

        <div>
            <label for="minimum">Minimum</label>
            <div>
                <input type="number" name="minimum" id="minimum" value="300" />
            </div>
        </div>

        <div>
            <button type="submit">Create Zone</button>
        </div>

    </form>
</fieldset>
{{/partial}}
{{> layout}}
