{{#partial "title"}}Zone: {{zone}}{{/partial}}
{{#partial "header"}}
<style type="text/css">
table.record_table {
    width: 100%;
    border-spacing: 0;
}
table.record_table th {
    text-align: left;
}
table.record_table th,
table.record_table td {
    padding: 10px;
}
fieldset {
    margin-bottom: 20px;
}
</style>
{{/partial}}
{{#partial "content"}}
<fieldset>
    <legend>Current Records</legend>

    <table class="record_table">
        <tr>
            <th>#</th>
            <th>Domain</th>
            <th>Type</th>
            <th>TTL</th>
        </tr>
        {{#each records}}
        <tr>
            <td>{{id}}</td>
            <td>{{domain}}</td>
            <td>{{type}}</td>
            <td>{{ttl}}</td>
            {{#if host}}
            <td>{{host}}</td>
            {{/if}}
            <td>
                <form method="POST" action="/authority/{{../../zone}}">
                    <input type="hidden" name="delete_record" value="true" />
                    <input type="hidden" name="domain" value="{{domain}}" />
                    <input type="hidden" name="recordtype" value="{{type}}" />
                    <input type="hidden" name="ttl" value="{{ttl}}" />
                    {{#if host}}
                    <input type="hidden" name="host" value="{{host}}" />
                    {{/if}}

                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>

</fieldset>

<fieldset>
    <legend>New Record</legend>

    <form method="POST" action="/authority/{{zone}}">

        <div>
            <label for="recordtype">Record Type</label>
            <div>
                <select name="recordtype" id="recordtype">
                    <option value="A">A</option>
                    <option value="AAAA">AAAA</option>
                    <option value="CNAME">CNAME</option>
                </select>
            </div>
        </div>

        <div>
            <label for="domain">Domain</label>
            <div>
                <input type="text" name="domain" id="domain" />
            </div>
        </div>

        <div>
            <label for="host">Host</label>
            <div>
                <input type="text" name="host" id="host" />
            </div>
        </div>

        <div>
            <label for="ttl">TTL</label>
            <div>
                <input type="number" name="ttl" id="ttl" value="300" />
            </div>
        </div>

        <div>
            <button type="submit">Create Record</button>
        </div>

    </form>

</fieldset>
{{/partial}}
{{> layout}}
