<!DOCTYPE html>
<html>
    <head>
    <style type="text/css">
    html {
        font-family: sans-serif;
    }

    table.record_table {
        width: 100%;
        border-spacing: 0;
    }
    table.record_table th {
        text-align: left;
    }
    table.record_table th,
    table.record_table td {
        padding: 10px;
    }
    </style>
    </head>
    <body>
        <h1>Zone</h1>
        <table class="record_table">
            <tr>
                <th>Domain</th>
                <th>Type</th>
                <th>TTL</th>
            </tr>
            {{#each records}}
            <tr>
                <td>{{domain}}</td>
                <td>{{type}}</td>
                <td>{{ttl}}</td>
                {{#if host}}
                <td>{{host}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </body>
</html>
